.header{
    height: 34vw;
    margin: 30px auto;
    background: url('C:\Web\Food_Delivery\frontend\public\header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 1vw;
    max-width: 50%;
    bottom: 10%;
    left: 8vw;
    animation: fadeIn 2.5s;
}

.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px)  ;
}

.header-contents p{
    color: white;
    font-size: 1.3vw;
}

.header-contents button{
    border: none;
    color: #747474;
    background-color: white;
    padding: 1vw 2.3vw;
    font-weight: 600;
    font-size: max(1vw,13px);
    border-radius: 50px;
    width: max(10vw,90px);
}

@media (max-width:1050px) {
    .header-contents{
        max-width: 45%;
    }
}

@media (max-width:750px) {
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }

    .header-contents bottom{
        padding: 2vw 4vw;
    }
}